## Learning Pandas: The Very Basics


This notebook introduces the very basics of pandas, a powerful library for data manipulation and analysis in Python.

We'll cover:
1. Installing pandas
2. Creating and viewing a simple DataFrame
3. Basic DataFrame operations

### 1. Installing pandas

In [ ]:

# You can install pandas using pip if it's not already installed.
pip install pandas

### 2. Creating a Simple DataFrame

In [4]:

import pandas as pd

# Let's create a simple DataFrame with some data
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [24, 27, 22, 32],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston']
}

df = pd.DataFrame(data)

# Display the DataFrame
df

      Name  Age         City
0    Alice   24     New York
1      Bob   27  Los Angeles
2  Charlie   22      Chicago
3    David   32      Houston

### 3. Basic DataFrame Operations

In [5]:

# Getting the first few rows of the DataFrame
df.head()

# Getting basic information about the DataFrame
df.info()

# Accessing a specific column
df['Age']

# Descriptive statistics of the DataFrame
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    4 non-null      object
 1   Age     4 non-null      int64
 2   City    4 non-null      object
dtypes: int64(1), object(2)
memory usage: 228.0+ bytes

             Age
count   4.000000
mean   26.250000
std     4.349329
min    22.000000
25%    23.500000
50%    25.500000
75%    28.250000
max    32.000000